.rockB {
    background: url(/styles/rock.png);
    width: 200px;
    height: 124px;
    border: 0px;
}
.paperB {
    background: url(/styles/paper.png);
    width: 200px;
    height: 124px;
    border: 0px;
}
.scissorsB {
    background: url(/styles/scissors.png);
    width: 200px;
    height: 124px;
    border: 0px;
}
body{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}